.wrapp-form-menu {
    background-color: #eee;
    padding: 10px;
}

.list-menu li {
    padding: 10px;
    list-style: none;
    background-color: #fff;
    border: 1px #ddd solid;
    position: relative;
}
.list-menu li .menu_delete {
    position: absolute;
    right: 20px;
}
.list-menu li .add_item_menu {
    position: absolute;
    right: 100px;
}
/*.menu-items {
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    list-style: none;
}
.line-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin:3px;
}
.line-item a {
    margin-left: 50px;
}*/