.wrapp-form-menu {
    background-color: #eee;
    padding: 10px;
}

.menu-items {
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    list-style: none;
}
.line-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin:3px;
}
.line-item a {
    margin-left: 50px;
}